<h1> This is the index page for recipes </h1>

<% @recipes.each do |recipe| %>
    <ul>
        <li> <%= link_to recipe.title, recipe_path(recipe) %></li>
    </ul>
<% end %>

<%= link_to "Add Recipe", new_recipe_path, class: "btn btn-success"%>